* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: rgb(191, 241, 241);
}

input{
    padding: 5px;

}
button{
    padding: 5px;
    cursor: pointer;
}

#result{
    margin-top: 20px;
}
.row{
    margin-bottom:20px;
    height: 270px;
}

.row img{
    width: 400px;
    height: 200px;
    position: absolute;
}